<div class="card card-default">
  <div class="card-body">
    <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Outgoing relation">
      <i class="material-icons small">subdirectory_arrow_right</i>
    </button>
    <strong>{{ node.field_type.entity.label }} </strong>
    <a href="/node/{{ node.id }}/edit" data-toggle="tooltip" title="Edit relation" class="btn btn-sm use-ajax" data-dialog-type="modal">
      <i class="material-icons small">edit</i>
    </a> 
    <a href="/node/{{ node.id }}/delete" data-toggle="tooltip" title="Delete relation" class="btn btn-sm use-ajax" data-dialog-type="modal">
      <i class="material-icons small">delete</i>
    </a>     
    <p class="small">Rating <strong>{{ node.field_rating.value }}</strong> | created on {{ node.createdtime|format_date('short') }} </p>
    <p class="small">{{ node.field_comment.value }}</p>
    <p>
      <button onclick="location.href='/node/{{ node.field_to.entity.id }}'" data-toggle="tooltip" title="Type {{ node.field_to.entity.bundle()  }}, Rating {{ node.field_to.entity.field_rating.value }}" class="btn bmd-btn-fab btn-primary bmd-btn-fab-sm" rating="{{ node.field_to.entity.field_rating.value }}">
        <i class="material-icons {{ node.field_to.entity.bundle() }}"></i>
      </button>
      {{ node.field_to.entity.label }}
    </p>
  </div>
</div>